{% extends "ecom/base.html" %}
{% block content %}
<p>Do velit sunt amet proident labore fugiat sint aliqua quis sit Lorem nostrud in veniam. Laboris culpa id commodo adipisicing. Ipsum tempor eu et sit Lorem amet ea aute quis duis et.</p>

<p>Irure laborum aliquip in veniam dolor deserunt ullamco consequat tempor magna cupidatat enim. Aliquip et consectetur esse duis reprehenderit sunt incididunt cupidatat incididunt duis ea excepteur. Laboris adipisicing sint id ullamco occaecat laboris proident excepteur sunt cillum magna nulla dolor. Est ut culpa est anim amet ut deserunt nulla nostrud fugiat amet tempor deserunt laborum. Commodo laborum aute quis est velit. Ea aliqua aute voluptate commodo aute do deserunt anim. Ullamco nisi officia labore et non irure minim qui ut dolore Lorem Lorem fugiat esse.</p>
{% endblock %}